html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Source Sans 3';
}
a {
    text-decoration: none; /*удаляет подчеркивание текста по умолчанию. (из-за <a>*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header START */
.header-top {
    background-color: #2378C9;
    padding: 14px 0; /*14px верх-низ, 0 лево-право*/
}
.header-top-row {
    display: flex;
    align-items: center;
    color: #fff;
}
.header-top-row a {
    color: #fff;
}
.header-top-location {
    display: flex;
    align-items: center;
}
.header-top-location img{
    margin-right: 14px;
}
.header-top-right {
    display: flex; /*превращает в контейнер flexbox.*/
    align-items: center; /*свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.*/
    margin-left: auto; /*чтобы располагался по правому краю*/
}
.header-top-phone {
    margin-right: 40px;
}
.header-top-email {
    margin-right: 55px;
}
.header-top-phone, header-top-email {
    display: flex;
    align-items: center;
}
.header-top-phone img, header-top-email img {
    margin-right: 14px;
}
.header-top-social a {
    margin-right: 30px;
}
.header-bottom {
    padding: 20px 0;
}
.header-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-nav ul {
    display: flex;
    align-items: center;
}
.menu-nav ul li:nth-last-child(n+2) {
    margin-right: 40px;
}
.menu-nav ul li a {
    color: #302D2D;
    font-size: 18px;
}
.header-bottom-btn {
    background-color: #F86D6D;
    color: #fff;
    padding: 16px 28px;
    border-radius: 26px;
    font-size: 14px;
}
.hamburger {
    margin-left: auto; /*hamburger to right side*/
}
.mobile-menu {
	background-color: #0E6EAA;
	box-shadow: -2px 4px 4px 3px rgba(49, 46, 46, 0.09);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	transition: 0.5s ease;
	transform: translateX(110%);
}
.mobile-menu.is-active {
	transform: none;
}
.mobile-menu-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	font-size: 22px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	position: relative;
}
.mobile-menu-header::after {
	content: '';
	height: 1px;
	width: calc(100% + 40px);
	background-color: rgba(217, 214, 214, 0.56);
	display: block;
	position: absolute;
	bottom: 0;
	left: -20px;
}

.mobile-menu-body {
	text-align: center; /*text to center*/
}
.mobile-menu-body a {
	color: #fff;
}
.mobile-menu-body .header-top-phone,
.mobile-menu-body .header-top-email,
.mobile-menu-body .header-top-social {
	justify-content: center;
	margin-right: 0;
	margin-bottom: 30px;
}

.mobile-menu-nav {
	margin-top: 50px;
}
.mobile-menu-nav li {
	margin-bottom: 30px;
}
/* Header END */

/* Responsive START */
@media screen and (min-width: 992px) {
	.hamburger {
		display: none;
	}
}
@media screen and (max-width: 1200px) {
	.menu-nav ul li:nth-last-child(n+2) {
		margin-right: 25px;
	}
}
@media screen and (max-width: 992px) {
	.header-top-right,
	.menu-nav {
		display: none;
	}
}
@media screen and (max-width: 575px) {
	.header-top-location {
		font-size: 12px;
		margin-right: 15px;
	}
	.header-logo {
		margin-right: 20px;
	}
	.header-logo img {
		max-width: 120px;
	}
	.header-bottom-btn {
		padding: 15px;
		font-size: 12px;
	}
}
/* Responsive END */